name: Deploy to the server

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Build the app
        run: |
          npm ci
          npm run build

      - name: Copy files to the server
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          source: ".next, public, package.json, package-lock.json"
          target: ${{ secrets.APP_DIR }}

      - name: Restart the server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ${{ secrets.APP_DIR }}
            source ~/.nvm/nvm.sh
            npm ci --omit=dev
            sudo systemctl restart athisii.com.service
            
